@model Product

<form method="post">
    <div class="border p-3 mt-4 border-4">
        <!--padding 3 and margin top of 4-->
        <div class="row pb-2">
            <!--padding bottom of 2-->
            <h2 class="text-primary">Update Product</h2>
            <hr /> <!--Horizontal line-->
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3 row p-1">
            <label asp-for="Title" class="p-0"></label>
            <input asp-for="Title" type="text" class="form-control border border-3" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" type="text" class="form-control border border-3" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Author" class="p-0"></label>
            <input asp-for="Author" type="text" class="form-control border border-3" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="ISBN" class="p-0"></label>
            <input asp-for="ISBN" type="text" class="form-control border border-3" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="ListPrice" class="p-0"></label>
            <input asp-for="ListPrice" type="number" class="form-control border border-3" />
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Price" class="p-0"></label>
            <input asp-for="Price" type="number" class="form-control border border-3" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Price50" class="p-0"></label>
            <input asp-for="Price50" type="number" class="form-control border border-3" />
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Price100" class="p-0"></label>
            <input asp-for="Price100" type="number" class="form-control border border-3" />
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <!--If the screen size is larger than medium, take just 3 columns-->
                <button type="submit" class="btn btn-primary form-control">Update this Product</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="form-control btn btn-outline-secondary">Return to Product List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}